.App {
  align-items: center;
  text-align: center;
  color: black;
  font-family: 'Lora', serif;
  font-size: 2pc;
  margin-top: 1.5%;


}
#anchor{
  position: absolute;
  top: 0%;
}
p{
  margin-bottom: 0;
  margin-top: 0;
}
body {
  background-color: #ebeae8;
}
#generate {
  font-family: 'Lora', serif;
  background-color: #85948f;
  color: white;
  border: none;
  font-size: 2pc;
  border-radius: 3pc;
  margin-top: 0;
  margin: 2pc;
  padding: 1pc;
}

#top{
  position: absolute;
  top: 3pc;
  left: 1.5pc;
  width: 40%;
}
#bottom{
  position: absolute;
  top: 8pc;
  left: 9pc;
  width: 40%;
}
#bag{
  position: absolute;
  top: 4pc;
  right: 2pc;
  width: 20%;
}
#shoes{
  position: absolute;
  top: 12pc;
  right: 3pc;
  width: 20%;
}
#accesory{
  position: absolute;
  top: 16pc;
  left: 6pc;
  width: 10%;
}
#outfit{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25pc;
  height: 25pc;
  background-color: white;
}

#wardrobe{
  font-family:'Lora', serif;
  background-color: #908294;
  color: white;
  border: none;
  font-size: 1pc;
  border-radius: 5pc;
  padding: 1pc;
  position:absolute;
  left: 5%;

}
ul{
  width: 10%;
  list-style: none;
  position: absolute;
  left: 2%;
  top: 50%;
}

li{
  text-align: center;
  background-color: #fffffb;
  color: #908294;
  padding: 1%;
  font-size: 30px;
}

li:hover{
  background-color: #908294;
  color: #fffffb;

}

a{
  text-decoration: none;
}



#return{
  font-family:'Lora', serif;
  background-color: #908294;
  color: white;
  border: none;
  font-size: 1pc;
  border-radius: 5pc;
  padding: 1pc;
  position: fixed;
  right: 5%;

}

#choices{
  width:50%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 105%;
}


#tc, #bc, #sc, #bgc {
  width: 100%;
  margin: 1%;
  margin-top: 0%;
  margin-bottom: 2%;
  height: max-content;
}

.display{
  width: 10%;
}